
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=David+Libre:wght@500&display=swap');

.voiture h2 {
    border-top: 1px solid white;
    background-color: black;
    color: white;
    margin: 0;
    padding: 15px 5px 15px 5px;
    font-family: 'Cinzel&family';
    margin: 0px 30px 0px;
}

.voiture-card-all {
    padding: 40px 0px 100px 0px;
    margin: 10px 50px 120px 50px;
    background: rgb(164,164,164);
    background: linear-gradient(180deg, rgba(164,164,164,0.1980042016806722) 21%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
}

.voiture-card {
    border-radius: 20px;
    margin: 20px 30px 0px;
    gap: 20px;
    background-color: white;
    color: black;
    display: flex;
    border: 2px solid white;
    box-shadow: 2px 5px 5px #a4a4a4;

}

.voiture-card:hover {
    transform: scale(1.10);
    box-shadow: 2px 8px 8px #a4a4a4;
}

.voiture-img img {
    height: 100%;
    width: 400px;
    border-radius: 18px 0px 0px 18px;
}

.voiture-texte h2 {
    font-weight: 600;
    font-size: 35px;
    border-bottom: 1px solid black;
   
    
}
.titre-voiture {
    font-size: 30px;
    text-align: center;
    margin-top: 40px; 
}

.titre-voiture h2 {
    padding: 10px 20px 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background: rgb(164,164,164);
    background: linear-gradient(180deg, rgba(164,164,164,0.1980042016806722) 21%, rgba(255,255,255,1) 100%);
    box-shadow: 2px 5px 5px #a4a4a4;
    margin: 0px 30px 30px;
    font-weight: 500;
}
.titre-voiture:hover {
    transform: scale(1.02);
}

@media (max-width:768px) {
    .voiture-card {
        flex-direction: column;
        margin: 0;
        margin-bottom: 20px;
    }
    .voiture-img img {
        width: 100%;
        border-radius: 18px 18px 0px 0px;
    }
    .voiture-card-all {
        background-color: white;
        background: white;
        border-radius: 20px;
        margin: 5px 10px 5px 10px;
    }
    .voiture-texte {
        padding: 0px 15px 50px 15px;
        text-align: center;
    }
    .titre-voiture {
        font-size: 20px;
    }
    #voiture-section {
        background-color: white;
        background: white;
    }

}